 *{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}


.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}

.logo{
	width:50px;
	cursor: pointer;
}

.icon{
	width: 30px;
	cursor: pointer;
	margin-left: 40px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}


h1{
	color: #fff;
	font-size: 100px;
	align: center;
	padding: 5px;
}

h2{
	padding: 5px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

p{
	padding: 5px;
	color: #fff;
	font-size: 15px;
	font-weight: italic;
}

.items{
	background-color: rbga(0,0,0,0.7);
}

